.itemList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ddd;
}
.itemList ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.itemList a{
    font-size: 20px;
    color: #000;
}
.homebanner{
    padding: 25px 0 25px 50px;

}
.todays{
    padding: 50px 0;
}
.todays .subhead{
    position: relative;
    display: flex;
    align-items: center;
}
.todays h5{
    padding: 5px 25px;
    margin: 0;
}
.todays .subhead::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 100%;
    left: 0;
    background-color: #DB4444;
}
.todays .timer{
    display: flex;
    gap: 20px;
}
.home .days, .hours, .minutes, .seconds{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px 15px;
}
.homeproducts p{
    padding: 0;
    margin: 0;
}
.homeproducts p .productprice{
    font-weight: 700;
    font-size: 20px;
}
.homeproducts p .productrating{
    font-weight: 600;
    font-size: 16px;
}