.subheading{
    padding: 5px 30px;
    position: relative;
}
.subheading::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #DB4444;
}
.itemList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ddd;
}
.itemList ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.itemList a{
    font-size: 20px;
    color: #000;
}
.homebanner{
    padding: 25px 0 25px 50px;

}
.todays{
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.todays .timer{
    display: flex;
    gap: 20px;
}
.home .days, .hours, .minutes, .seconds{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px 15px;
}
.homeproducts p{
    padding: 0;
    margin: 0;
}
.homeproducts p .productprice{
    font-weight: 700;
    font-size: 20px;
}
.homeproducts p .productrating{
    font-weight: 600;
    font-size: 16px;
}
.viewmore{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.viewmore a{
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    background-color: #DB4444;
    color: #fff;
}
.cate{
    padding: 60px 0;
}

.cate .cateHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cate .cateHeading .cateBtn a{
    padding: 5px 10px;
    margin-left: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    border-radius: 5px;
    transition: 1s;
}
.cate .cateHeading .cateBtn a:hover{
    background-color: #DB4444;
    color: #fff;
}
.cate .cateItem{
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    gap: 16px;
    transition: 1s;
    border-radius: 5px;
}
.cate .cateItem:hover{
    background-color: #DB4444;
    color: #fff;
}
.cate .cateItem i{
    font-size: 57px;
}
.thismonth{
    padding: 60px 0;
}
.thismonth .monthheading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thismonth .monthheading a{
    padding: 16px 48px;
    color: #000;
    border: 1px solid #DB4444;
    transition: 1s;
    border-radius: 5px;
}
.thismonth .monthheading a:hover{
    background-color: #DB4444;
    color: #fff;
}
.thismonth span{
    font-size: 20px;
    font-weight: 600;
}
.thismonth .pricerate{
    font-size: 22px;
    font-weight: 700;
}
.thismonth .bigthumb{
    padding: 45px;
    background-color: #000;
    color: #fff;
    margin-top: 45px;
}
.thismonth .bigthumb h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 32px;
}
.thismonth .bigthumb .timer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.thismonth .bigthumb .timer .box{
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    height: 62px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thismonth .bigthumb .timer .box p{
    padding: 0;
    margin: 0;
}
.thismonth .bigthumb a{
    display: inline-block;
    padding: 16px 48px;
    background-color: #00FF66;
    color: #000;
    margin-top: 40px;
}